
*{
    padding: 0px;
    margin:0px;
    background-color: black;
    color: white;
}

body {
    font-family: 'Open Sans', sans-serif;
  }
  
  /* Start Landing Page */
  .landing-page header {
    min-height: 80px;
    display: flex;
  }
 
  .landing-page header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
 
  .landing-page header .links {
    display: flex;
    align-items: center;
  }
 
  .landing-page header .navbar .login  {
    border-radius: 20px;
    padding: 10px 20px;
    color: #FFF;
    background-color: #6c63ff;
  }
  .landing-page header .links li:not(:last-child):hover {
    color: #6c63ff;
  }
  .landing-page .content .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 140px;
    min-height: calc(100vh - 80px);
  }
  @media (max-width: 767px) {
    .landing-page .content .container {
      gap: 0;
      min-height: calc(100vh - 101px);
      justify-content: center;
      flex-direction: column-reverse;
    }
  }
  @media (max-width: 767px) {
    .landing-page .content .info {
      text-align: center;
      margin-bottom: 15px 
    }
  }
  .landing-page .content .info h1 {
    color: #bbbbbb;
    font-size: 44px;
  }
  .landing-page .content .info p {
    margin: 0;
    line-height: 1.6;
    font-size: 15px;
    color: #b3b3b3;
  }
  .landing-page .content .info button {
    border: 0;
    border-radius: 20px;
    padding: 12px 30px;
    margin-top: 30px;
    cursor: pointer;
    color: #FFF;
    background-color: #6c63ff;
  }
  .landing-page .content .image img {
    max-width: 100%;
  }
  /* End Landing Page */

  .main-image{
    /* mix-blend-mode:exclusion */
    width: 600px;
    height: 400px;
  }
   h1,p{
    color:white;
  }

  .container .row .bg-card{
    background-image: linear-gradient(to top right, #3be798, #7f6eb2);
  }