<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animated Form Login</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="container" style="width: 800px; height: 800px;">
        <i style="--clr: #4ad4f6;"></i>
        <i style="--clr: #cb0fd1;"></i>
        <i style="--clr: #4ad4f6;"></i>
        <div class="login">
            <h2>Registration Form</h2>
            <div class="input-box">
                <input type="text" placeholder="Username">
            </div>
            <div class="input-box">
              <input type="email" placeholder="Email Id">
            </div>
            <div class="input-box">
                <input type="text" placeholder="Skills">
            </div>
            <div class="input-box">
                <input type="text" placeholder="Interests">
            </div>
            <div class="input-box">
                <input type="password" placeholder="Create Password" id="password">
            </div>
            <div class="input-box">
                <input type="submit" value="Sign In">
            </div>
            <div class="links">
                <a href="login.html">Login</a>
            </div>
        </div>
    </div>
</body>
</html>